<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TDcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>187FA5081F4131E9009DBEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187FA51C1F4131E9009DBEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187FA5271F4131E9009DBEF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
